@import "variables";
@import "global";
@import "scrollbar";
@import "media-queries";

@import "https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,400;1,500&display=swap";

header {
  position: fixed;
  background: $clr_primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 7%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  .logo {
    img {
      height: 6rem;
    }
  }
  .navbar {
    a {
      color: $clr_tertiary;
      font-size: 1.6rem;
      padding: 0.5rem 0.9rem;
      margin: 0 1rem;
      border-radius: 0.5rem;
      &:hover {
        background: $clr_secondary;
        color: $clr_tertiary;
      }
    }
    a.active {
      background: $clr_secondary;
      color: $clr_tertiary;
    }
  }
  .icons {
    div {
      color: $clr_secondary;
      cursor: pointer;
      margin-left: 2rem;
      font-size: 2.5rem;
      &:hover {
        color: $clr_tertiary;
      }
    }
  }
}
#MenuBtn {
  display: none;
}

@include tablet {
  html {
    font-size: 55%;
  }
}

@include mobile-landscape {
  #MenuBtn {
    display: initial;
  }
  header {
    .navbar {
      position: absolute;
      top: 100%;
      right: -100%;
      background: $clr_primary;
      width: 15rem;
      height: calc(100vh - 9.5rem);
      a {
        display: block;
        margin: 1.5rem;
        font-size: 2rem;
        color: $clr_tertiary;
        padding: 0.5rem;
      }
    }
    .navbar.active {
      right: 0;
    }
  }
}

@include mobile {
  html {
    font-size: 50%;
  }
}
